<template>
  <div class="container position-relative z-2 mb-5 pb-5 mob-mb-0">
    <div class="row">
       <div class="col-12 half_col position-relative z-2 ">
        <div class="bg-white border-radius p-4 mob-px-0 shadow search-form">
          <div class="container news-select-container">
            <div class="row">
              <div class="col-lg-4 mob-mb-0 mob-mb-3">
                <div class="select-holder">
                  <select class="form-control" name="council" v-model="council" @change="getCharities">
                    <option value="*">All Council Areas</option>
                    <option v-for="(council, i) of councils":key="i" :value="council.id">{{ council.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-8 d-none d-lg-block">
                <div class="search-holder">
                  <input type="text" name="search" class="form-control" placeholder="Search support organisations by name..." v-model="search" v-debounce:300ms="getCharities"/>
                </div>
              </div>
              <div class="col-12">
                <p class="text-small mb-0 mt-1 text-mid-grey">*Results will update when you select a council area or finish typing a name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mob-mt-3">
      <div class="col-12">
        <p v-if="council == '*'"><b>Showing support organisations from:</b> All Council Areas</p>
        <p v-else><b>Showing organisations from:</b> {{councilname}}</p>
      </div>
      <div class="loading" v-if="success == false">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Loading support organisations...</p>
      </div>
      <charities-show :charities="charities" :loadmore="loadmore" @loadmore="loadMore()" v-else></charities-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    councils: Array,
  },
  data() {
    return {
      council: '*',
      councilname: "All Council Areas",
      search: '',
      errors: {},
      success: false,
      loaded: true,
      charities: [],
      limit: 16,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getCharities();
  },
  methods: {
    getCouncilName(){
      if(this.council != "*"){
        var c = this.councils.find(element => element.id == this.council);
        this.councilname = c.name;
      }else{
        this.councilname = "All Council Areas";
      }
      
    },
    loadMore(){
      this.page++;
      this.morePosts();
    },
    morePosts(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/charities/get?limit=' + this.limit + '&page=' + page + '&council=' + this.council + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.charities.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getCharities(page = 1) {
      this.getCouncilName();
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/charities/get?limit=' + this.limit + '&page=' + page + '&council=' + this.council + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.charities = response.data.data;
          this.success = true;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
  .search-holder{
    position: relative;
    border: 0;
    overflow: hidden;
    background: #F0F0F0;
    border-radius: 5px;
    input{
      border-radius: 5px;
      appearance: none;
      padding: 0 1rem;
      color: #000;
      font-weight: 900;
      z-index: 1;
      background: none;
      position: relative;
      border: 0;
      &:focus{
        background-color: #F0F0F0;
      }
    }
    &:after{
      content: '\f002';
      font-family: 'FontAwesome';
      width: 15px;
      position: absolute;
      right: 1rem;
      top: 21px;
      z-index: 0;
    }
  }
  .loading{
    height: 987px;
    width: 100%;
    position:relative;
    .lds-roller{
      position: absolute;
      top: 50px;
      left: calc(50% - 32px);
    }
    .loading-text{
      position: absolute;
      top: calc(50px + 75px);
      left: 0;
      width: 100%;
    }
  }
</style>