<template>
  <div class="container container-wide pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="charities.length > 0">
      <div class="col-lg-3 col-md-6 mb-4" v-for="(charity, index) in charities">
				<div class="card shadow text-dark text-center p-3 mb-4">
          <div style="min-height:100px;">
            <picture>
              <source :srcset="charity.logowebp" type="image/webp"/> 
              <source :srcset="charity.logo" :type="charity.mimetype"/> 
              <img :src="charity.logo" :type="charity.mimetype" :alt="charity.name" class="lazy mb-3" style="max-height: 100px;max-width: 100%;" />
            </picture>
          </div>
					<p class="mb-0"><b>{{charity.name}}</b></p>
					<hr class="my-3"/>
					<p class="mb-2" v-if="charity.website"><a :href="(charity.website.indexOf('://') === -1) ? 'http://' + charity.website : charity.website" target="_blank"><i class="fa fa-globe mr-2"></i> Visit Website</a></p>
					<p class="mb-2"><a :href="'tel:' + charity.phone"><i class="fa fa-phone mr-2"></i> {{charity.phone}}</a></p>
				</div>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3">Sorry no charities found</p>
        <p>Sorry, there are no charities available using the filters you selected, please change your filters and try again.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      charities: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .news-card{
    p{
      &.read-more-news{
        font-size: 0.9rem;
        a{
          color: #3968bf;
        }
      }    
      &.post-title{
        font-size: 1.4rem;
        line-height: 1.2;
        font-weight: 700;
      }
    }
    button{
      position: absolute;
      bottom: 1.5rem;
      left: calc(50% - 100px);
    }
    .post-summary{
      min-height: 312px;
    }
  }
  @media only screen and (max-width: 767px){
    .news-card{
      p{
        &.read-more-news{
          font-size: 3.5vw;
        }
        &.post-title{
          font-size: 5.7vw;
        }
      }
      .post-summary {
        min-height: 0px;
      }
    }
  }
</style>