<template>
  <div class="container position-relative z-2 mb-5 pb-5 mob-mb-0">
    <div class="row mob-mt-3">
      <div class="loading" v-if="success == false">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Loading Programmes...</p>
      </div>
      <programmes-show :programmes="programmes" :loadmore="loadmore" @loadmore="loadMore()" v-else></programmes-show>
    </div>
  </div>  
</template>
<script>
export default {
  data() {
    return {
      search: '',
      errors: {},
      success: false,
      loaded: true,
      programmes: [],
      limit: 6,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getProgrammes();
  },
  methods: {
    loadMore(){
      this.page++;
      this.moreProgrammes();
    },
    moreProgrammes(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/programmes/get?limit=' + this.limit + '&page=' + page + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.programmes.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.programmes);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getProgrammes(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/programmes/get?limit=' + this.limit + '&page=' + page + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.programmes = response.data.data;
          this.success = true;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
  .search-holder{
    position: relative;
    border: 0;
    overflow: hidden;
    background: #F0F0F0;
    border-radius: 5px;
    input{
      border-radius: 5px;
      appearance: none;
      padding: 0 1rem;
      color: #000;
      font-weight: 900;
      z-index: 1;
      background: none;
      position: relative;
      border: 0;
      &:focus{
        background-color: #F0F0F0;
      }
    }
    &:after{
      content: '\f002';
      font-family: 'FontAwesome';
      width: 15px;
      position: absolute;
      right: 1rem;
      top: 21px;
      z-index: 0;
    }
  }
  .loading{
    height: 987px;
    width: 100%;
    position:relative;
    .lds-roller{
      position: absolute;
      top: 50px;
      left: calc(50% - 32px);
    }
    .loading-text{
      position: absolute;
      top: calc(50px + 75px);
      left: 0;
      width: 100%;
    }
  }
</style>