<template>
  <div class="container container-wide">
    <div class="row pb-5 mob-py-0" v-if="programmes.length > 0">
      <div class="col-lg-4 col-md-6 mb-4" v-for="(programme, index) in programmes">
        <a :href="'/programmes/' + programme.id + '/'+ programme.slug" >
          <div class="card news-card border-0 shadow">
            <picture>
              <source :srcset="programme.featuredwebp" type="image/webp"/> 
              <source :srcset="programme.featured" :type="programme.mimetype"/> 
              <img :src="programme.featured" :type="programme.mimetype" :alt="programme.title" class="lazy w-100"/>
            </picture>
            <div class="p-4 programme-summary text-center">
              <p class="programme-title text-title text-dark mb-2">{{programme.title.substring(0, 50)}} <span v-if="programme.title.length > 50">...</span></p>
              <p class="text-dark mb-3">{{programme.excerpt.substring(0, 120)}} <span v-if="programme.excerpt.length > 120">...</span></p>
              <button type="button" class="btn btn-primary">View Programme</button>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3">Sorry, no programmes found</p>
        <p>Sorry, there are no programmes available using the filters you selected, please change your filters and try again.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      programmes: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .news-card{
    p{
      &.read-more-news{
        font-size: 0.9rem;
        a{
          color: #3968bf;
        }
      }    
      &.programme-title{
        font-size: 1.4rem;
        line-height: 1.2;
        font-weight: 700;
      }
    }
    button{
      position: absolute;
      bottom: 1.5rem;
      left: calc(50% - 100px);
    }
    .programme-summary{
      min-height: 312px;
    }
  }
  @media only screen and (max-width: 767px){
    .news-card{
      p{
        &.read-more-news{
          font-size: 3.5vw;
        }
        &.programme-title{
          font-size: 5.7vw;
        }
      }
      .programme-summary {
        min-height: 0px;
      }
      button{
        position: relative;
        bottom: auto;
        left: auto;
      }
    }
  }
</style>