.no-webp{
	.home-top{
		background-image: url('/img/temp/home-top.png');
	}
}
.webp{
	.home-top{
		background-image: url('/img/temp/home-top.webp');
	}
}

.bg{
	@include background();
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.background-right{
	background-position-x: right;
}
.dark-bg{
	background-color: $navy;
}
.bg-green{
	background-color: $green !important;
}
.bg-blue{
	background-color: #265CC0 !important;
}
.bg-dark-navy{
	background-color: $darknavy;
}
.bg-navy{
	background-color: #1C2D4B;
}
.bg-fixed{
	background-attachment: fixed;
}
.bg-light{
	background-color: $lightbg !important;
}
.top-right-hex{
	position: absolute;
	top: 130px;
  right: -100px;
  z-index: 0;
  width: 700px;
}
.bottom-right-hex{
	position: absolute;
	bottom: 50px;
  right: -100px;
  z-index: 0;
  width: 700px;
}
.huddle-bg{
	background-position-y: bottom;
}
.bg-bottom-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}
.bg-blur{
	filter: blur(50px);
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity: .35;
}
.bottom-grad{
	background: linear-gradient(180deg, rgba(17,18,19,0) 0%, rgba(15,25,42,1) 100%);
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.bg-primary-half{
	position: relative;
	&:before{
		content: "";
		background-color: $primary;
		width: 100%;
		height: 50%;
		top: 0;
		left:0;
		position: absolute;
		z-index: 0;
	}
}
.home-header-ni{
	position: absolute;
	top: 20px;
	right: 100px;
	width: 775px;
	opacity: 0.06;
	z-index: 0;
}