.btn{
	display: block;
	border-radius: 0;
	font-family: $title;
	border:0 !important;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	width: auto;
	min-height: 50px;
	font-size: 1rem;
	font-weight: 600;
	padding: 13px 20px;
	min-width: 214px;
	line-height: 1.2;
	cursor: pointer;
	@include transition(300ms);
	&.w-100{
		max-width: 100000px;
	}
	&:hover{
		transform: scale(1.02);
	}
	&.mb-minus-65{
		margin-bottom: -65px
	}
}
.btn-primary{
	background-color: $primary;
	color: $white;
	&:hover{
		background-color: $primary;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-white{
	background-color: $white;
	color: $primary;
	&:hover{
		background-color: $white;
		color: $primary !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $primary;
	}
}
@media only screen and (max-width : 1024px) and (hover: none){
	.btn{
		width: 100%;
		height: 60px;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 13px 20px;
		max-width: 262px;
		min-width: 262px;
	}
}
@media only screen and (max-width : 767px) and (hover: none){
	.btn{
    max-width: 220px;
    min-width: 220px;
    padding: 10px 15px;
    height: 50px;
    font-size: 22px;
	}
}