.form-group{
	&.select-form-group{
		
	}
}
.form-check-label{
	font-family: $body;
	font-weight: 300;
	font-size: 12px;
}
label{
	font-family: $fancy;
	padding-left:0;
	&.label-large{
		font-size: 18px;
		font-weight: 700;
	}
}
input.form-control{
	padding: 1rem;
	border: 0;
	height: 60px;
	background-color: #F0F0F0;
	border-radius: 5px;
	box-shadow: none !important;
	outline: none !important;
	font-family: $body;
	&:focus{
		outline: none !important;
		background-color: #F0F0F0;
		border-color: $black !important;
	}
	&.smaller{
		border-radius: 5px;
    	height: 38px;
	}
	&.border-rounded{
		border: 2px solid $primary;
	  border-radius: 0;
	}
}

select.form-control{
	padding: 1rem;
	border: 0;
	height: 60px;
	border-radius: 5px;
	box-shadow: none !important;
	outline: none !important;
	font-family: $body;
	&:focus{
		outline: none !important;
		border-color: $black !important;
	}
	&.smaller{
		border-radius: 30px;
    	height: 38px;
	}
}
textarea.form-control{
	border: 0;
	padding: 1rem;
	border: 0;
	height: 100px;
	border-radius: 0;
	background-color: #F0F0F0;
	box-shadow: none !important;
	outline: none !important;
	font-family: $body;
	&:focus{
		background-color: #F0F0F0;
	}
}
.filter-selector{
	cursor: pointer;
}
.pagination{
	display: table;
	margin: auto;
	.page-item{
		display: table-cell;
		&:before{
			display: none;
		}
    a.page-link{
      font-weight: 700;
      border: 0;
      color: $midgrey !important;
      &:hover{
        background-color: transparent !important;
        color: $darkgrey !important;
      }
    }
    &.active{
      a.page-link{
        background-color: transparent !important;
        color: $darkgrey !important;
      }
    }
	}
}
.border-rounded{
	border: 2px solid $primary;
  border-radius: 5px;
  padding: 1rem;
}
.select-holder{
	position: relative;
  border: 0;
  overflow: hidden;
  background: #F0F0F0;
  border-radius: 5px;
  select{
    border-radius: 5px;
    appearance: none;
    padding: 0 1rem;
    color: $black;
    font-weight: 900;
    z-index: 1;
    background: none;
    position: relative;
    border: 0;
    &:focus{
			background-color: #F0F0F0;
		}
  }
  &:after{
    content: url('/img/icons/chevron-down-dark.svg');
    width: 15px;
    position: absolute;
    right: 1rem;
    top: 21px;
    z-index: 0;
  }
}