// Fonts --------------------

$title: 'Titillium Web', sans-serif;
$body: 'PT Sans', sans-serif;
$fancy: 'PT Sans', sans-serif;

// Body
$body-bg: #1D252D;

// Typography
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3968bf;
$lightblue: #97C9EB;
$indigo: #6574cd;
$purple: #9254DB;
$pink: #F4406D;
$red: #E73C62;
$orange: #FF7141;
$yellow: #FFCB00;
$green: #5CCC4A;
$darkgreen: #42872c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$formgrey: #757575;

// Colours -----------------
$primary: #35318B; 
$primarylight: #A09CF4;
$primarydark: #2E2B6F;
$second: #4D71A5;
$white: #fff;
$black: #000;
$navy: #0037D2;
$lightnavy: #465966;
$darknavy: #1C2D4B;
$darkgrey: #1D252D;
$midgrey: #6b6b6b;
$lightbg: #f3f3f7;
$lightgrey: #f3f3f7;
$grey: #1D252D;
$bluegrey: #A8B1B7;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$transgreylight: rgba(29,37,45,0.65);
$transgrey: rgba(29,37,45,0.4);
$transgreydark: rgba(0,0,0,0.85);
$transwhite: rgba(255,255,255,0.6);
$transblue: rgba(0,0,0,0.32);
$transbluelight: rgba(26,126,244,0.2);
$transbluedark: rgba(38,60,75,0.9);
$transred: rgba(224,38,28,0.8);
$transdark: rgba(19,22,41,0.3);