<template>
  <div class="container container-wide pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="events.length > 0">
      <div class="col-lg-4 col-md-6 mb-4" v-for="(event, index) in events">
        <a :href="'/events/' +moment(event.date) +'/'+ event.slug" >
          <div class="card event-card border-0 shadow">
            <picture>
              <source :srcset="event.featuredwebp" type="image/webp"/> 
              <source :srcset="event.featured" :type="event.mimetype"/> 
              <img :src="event.featured" :type="event.mimetype" :alt="event.name" class="lazy w-100"/>
            </picture>
            <div class="p-4 event-summary text-center">
              <p class="post-name text-large text-title text-dark mb-2">{{event.name.substring(0, 45)}} <span v-if="event.name.length > 45">...</span></p>
              <p class="text-uppercase letter-spacing text-primary text-small mb-2"><b><i class="fa fa-calendar-o"></i> {{niceDate(event.date)}}<br/><i class="fa fa-map-marker"></i> {{event.location}} </b></p>
              <p class="text-dark mb-3">{{event.excerpt.substring(0, 100)}} <span v-if="event.excerpt.length > 100">...</span></p>
              <button type="button" class="btn btn-primary">Find out more</button>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3">Sorry, no events found</p>
        <p v-if="search >= null && search != ''">Sorry, there are no events available using the filters you selected, please change your filters and try again.</p>
        <p v-else>We don't have any events scheduled at the moment.<br/>Please check again later.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      events: Array,
      search: String,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear() + ' ' + newdate.getHours() + ':' + (newdate.getMinutes()<10?'0':'') + newdate.getMinutes();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .event-card{
    p{
      &.read-more-events{
        font-size: 0.9rem;
        a{
          color: #3968bf;
        }
      }    
      &.event-title{
        font-size: 1.4rem;
        line-height: 1.2;
        font-weight: 700;
      }
    }
    button{
      position: absolute;
      bottom: 1.5rem;
      left: calc(50% - 100px);
    }
    .event-summary{
      min-height: 330px;
    }
  }
  @media only screen and (max-width: 767px){
    .event-card{
      p{
        &.read-more-events{
          font-size: 3.5vw;
        }
        &.event-title{
          font-size: 5.7vw;
        }
      }
      button{
        position: relative;
        bottom: auto;
        left: auto;
      }
      .event-summary {
        min-height: 0px;
      }
    }
  }
</style>