<template>
	<div class="container mb-5 position-relative z-2">
		<div class="row justify-content-center">
			<div class="col-lg-11 text-center">
				<p class="mimic-h2">Organisations <br class="d-md-none" />we work with</p>
				<p>We work with a wide range of organisations and service providers throughout Northern Ireland and in Great Britain who are committed to delivering support to veterans. Our current Veterans’ Places, Pathways and People Programme partners are represented below. To learn more about the veterans’ groups making a difference in your area, and to connect with your Veterans’ Champion, please <a href="/support-organisations"><u>click here</u></a>.</p>
			</div>
			<div class="col-12 mt-4">
				<picture>
            <source data-src="/img/charities/charities-desktop.webp" type="image/webp"/>
            <source data-src="/img/charities/charities-desktop.png" type="image/png"/>
            <img data-src="/img/charities/charities-desktop.png" alt="Supported Charities - NIVSO" class="w-100 h-auto d-none d-md-block lazy" width="1170" height="110" />
        </picture>
        <picture>
            <source data-src="/img/charities/charities-mob.webp" type="image/webp"/>
            <source data-src="/img/charities/charities-mob.png" type="image/png"/>
            <img data-src="/img/charities/charities-mob.png" alt="Supported Charities - NIVSO" class="w-100 h-auto d-md-none lazy" width="500" height="907" />
        </picture>
      </div>
    </div>
  </div>
</template>