<template>
  <footer class="container-fluid text-left position-relative z-1">
    <img src="/img/misc/hex.svg" type="image/svg" class="bottom-right-hex" width="736" height="994" alt="NIVSO hexagon pattern">
    <div class="position-relative row mob-mt-0 mob-pt-3 ipadp-pt-0 ipadp-mt-0">
      <div class="container mob-px-4 text-center text-lg-left">
        <div class="row my-5 mob-my-0">
          <div class="col-lg-4 pr-5 mob-px-3 mb-5">
            <img src="/img/logos/logo-full.svg" type="image/png" class="footer-logo h-auto mt-2 mb-3" width="170" height="88" alt="NIVSO Logo"/>
            <p class="mb-2">
              <a href="https://www.facebook.com/NorthernIrelandVeteransSupportOffice" aria-label="Facebook" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/ni_veterans_support_office/" aria-label="Instagram" rel="noreferrer" target="_blank"><i class="fa fa-instagram ml-4"></i></a>
              <a href="https://twitter.com/VeteransNi" aria-label="Twitter" rel="noreferrer" target="_blank" ><i class="fa fa-twitter ml-4"></i></a>
            </p>
          </div>
          <div class="col-lg-8 mb-5">
            <p class="text-larger mb-0"><b>Stay up to date</b></p>
            <p>Sign up to our mailing list to get important updates and support.</p>
            <mailing-list></mailing-list>
          </div>
          <div class="col-lg-4">
            <p class="text-larger"><b>Get in touch</b></p>
            <p class="text-one"><a href="tel:00442895216784"><i class="fa fa-phone mr-2"></i> +44 (0) 2895 216784</a></p>
            <p class="text-one "><a href="mailto:ni-vsocomms@rfca.mod.uk"><i class="fa fa-envelope mr-2"></i> ni-vsocomms@rfca.mod.uk</a></p>
            <!-- <p class="text-one "><i class="fa fa-map-marker mr-2"></i>NIVSO, 25 Windsor Park,<br class="d-none d-lg-inline-block" /> Belfast, BT9 6FR</p> -->
          </div>
          <div class="col-lg-8 mob-mt-5 d-none d-lg-block">
            <div class="row">
              <div class="col-12">
                <p class="text-larger"><b>Links</b></p>
              </div>
              <div class="col-lg-3 d-none d-md-block">
                <p class="text-one"><a href="/about">About us</a></p>
                <p class="text-one"><a href="/programmes">Programmes</a></p>
                <p class="text-one"><a href="/news">News</a></p>
                <p class="text-one"><a href="/research">Research</a></p>
              </div>
              <div class="col-lg-5 d-none d-md-block">
                <p class="text-one"><a href="/armed-forces-covenant">Armed Forces Covenant</a></p>
                <p class="text-one"><a href="/support-organisations">Support Organisations</a></p>
                <p class="text-one"><a href="/mental-health-and-peer-support">Mental Health & Peer Support</a></p>
              </div>
              <div class="col-lg-4 d-none d-md-block">
                <p class="text-one"><a href="/local-heroes">Local Heroes</a></p>
                <p class="text-one"><a href="/veteran-champions">Veterans' Champions</a></p>
                <p class="text-one"><a href="/contact">Contact Us</a></p>
              </div>

              <div class="col-6 d-md-none">
                <p class="text-one"><a href="/about">About us</a></p>
                <p class="text-one"><a href="/programmes">Programmes</a></p>
                <p class="text-one"><a href="/news">News</a></p>
                <p class="text-one"><a href="/research">Research</a></p>
                <p class="text-one"><a href="/armed-forces-covenant">Armed Forces Covenant</a></p>
              </div>
              <div class="col-6 d-md-none">
                <p class="text-one"><a href="/support-organisations">Support Organisations</a></p>
                <p class="text-one"><a href="/mental-health-and-peer-support">Mental Health & Peer Support</a></p>
                <p class="text-one"><a href="/local-heroes">Local Heroes</a></p>
                <p class="text-one"><a href="/veteran-champions">Veterans' Champions</a></p>
                <p class="text-one"><a href="/contact">Contact Us</a></p>
              </div>

            </div>
          </div>
         
        </div>

      </div>
    </div>
    <div class="row position-relative z-2">
      <div class="container py-2">
        <hr/>
        <div class="row mb-2">
          <div class="col-lg-8 text-center text-lg-left">
            <p class="text-small mb-0 mob-mb-2 mob-mt-2">&copy;2022 Northern Ireland Veterans' Support Office <span class="d-none d-lg-inline">-</span> <br class="d-lg-none" /><a href="/terms-and-conditions" class="text-primary">Terms & Conditions</a> &nbsp;|&nbsp; <a href="/privacy-policy" class="text-primary">Privacy Policy</a></p>
          </div>
          <div class="col-lg-4 text-center text-lg-right">
            <p class="text-small mb-0"><a href="https://elementseven.co" target="_blank" aria-label="Element Seven Digital Limited" rel="noreferrer" class="text-primary">Website by Element Seven</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
  footer{
    color: #0A0A0A;
    .footer-bg{
      position: absolute !important;
      bottom: 0;
      left: 0;
      width: 100vw;
      min-height: 745px;
      height: 100%;
      z-index: 0;
    }
    a{
      cursor: pointer;
      color: #0A0A0A;
      &:hover{
        color: #35318B;
      }
    }
    .primary-line{
      border-top: 2px solid #35318B;
    }
    p{
      font-size: 1.0rem;
    }
    img{
      max-width: 100%;
    }
    .footer-social{
      font-size: 25px;
    }
    .footer-logo{
      width:100%;
      max-width: 170px;
    }
  }
  .footer-inner{
    border-top: 2px solid #fff;
  }
  .footer-top{
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    .footer-overlap{
      margin-top: -540px;
      &.team-overlap{
        margin-top: -420px;
      }
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
      footer{
      p{
        &.text-smallest{
          font-size: 16px;
        }
      }
      .mob-line-height{
        font-size: 16px;
        line-height: 2.5;
      }
      .footer-bg{
        // background-image: url("/img/graphics/footer-bg-mob.svg");
        // background-size: cover;
        // left: 0;
        // width: 100%;
        // height: calc(100% - 210px);
      }
    }
  }
  @media only screen and (max-width : 767px){
    footer{
      p{
        &.text-smallest{
          font-size: 3vw;
        }
      }
      .mob-line-height{
        font-size: 3.5vw;
        line-height: 2.5;
      }
      .footer-bg{
        // background-image: url("/img/graphics/footer-bg-mob.svg");
        // background-size: cover;
        // left: 0;
        // width: 100%;
        // height: calc(100% - 210px);
      }
    }
  }
</style>