<template>
	<div class="mailing-list-signup">
		<form id="mailinglist-signup" @submit.prevent="submit" class="text-left">
			<div class="form-group mb-2 w-100 position-relative">
				<input id="ml-email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email"/>
				<button type="submit" class="btn-input"><i class="fa fa-paper-plane"></i></button>
				<div v-if="errors && errors.email" class="text-dark">{{ errors.email[0] }}</div>
			</div>
			<div class="input-group">
			  <div class="input-group-prepend">
			    <div class="input-group-text p-0">
			      <input id="ml-consent" type="checkbox" v-model="fields.consent" class="h-auto" aria-label="I agree to to share my email address with NIVSO">
			      <span class="ml-2" @click='document.getElementById("ml-consent").click()'>I agree to to share my email address with NIVSO</span>
			    </div>
			  </div>
			</div>
			
		</form>
	</div>
</template>
<script>
	export default {
		props: {
			bg: String,
		},
		data() {
			return {
				fields: {
					email: "",
					consent: ""
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      submit() {
      	if (this.loaded) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Joining";

      		axios.post('/mailinglist', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Mailing list joined successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>
<style lang="scss">
	.mailing-list-signup{
		.form-group{
			border: 2px solid #35318B;
			overflow: hidden;
			border-radius: 0;
		}
		input{
			height: 60px !important;
			background-color: #fff !important;
			&.h-auto{
				height: auto !important;
			}
		}
		.input-group-text{
			background-color: transparent;
    	border: 0;
		}
		button.btn-input{
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 60px;
			border:0 !important;
			background-color: #35318B;
			i{
				color: #fff;
			}
		}
	}
	@media only screen and (max-width : 767px){
		.mailing-list-signup{
			p.mimic-h3{
				font-size: 10vw;
			}
			input{
				height: 50px !important;
			}
			
		}
	}
</style>