// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  body{
    h1{

    }
  }
  p{
    &.ipad-smaller-text{
      font-size: 1rem;
    }
  }
  .bg-fixed{
    background-attachment: none;
  }
  .ipad-overflow-hidden{
    overflow: hidden;
  }
  .ipad-pt-0{
    padding-top: 0 !important;
  }
  .ipad-pt-5{
    padding-top: 3rem !important;
  }
  .ipad-px-3{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .ipad-mb-3{
    margin-bottom: 1rem !important;
  }
  .ipad-mb-0{
    margin-bottom: 0 !important;
  }
  .ipad-mt-0{
    margin-top: 0 !important;
  }
  .ipad-pr-5{
    padding-right: 3rem !important;
  }
}