// above iPad in portrait
@media only screen and (min-device-width : 769px){

}

// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#mobile_menu{
		.mobile_menu_inner{
			.menu_item{
				a{
					font-size: 30px;
				}
			}
		}
		.mobile_menu_social{
			bottom: 50px;
			left: 50px;
		}
		.mobile_menu_logo{
			width: 280px;
		}
	}
	#page-header {
	  min-height: 390px;
	  &.news-header {
		  min-height: 500px;
		}
	  .home-header-inner {
		  min-height: 300px;
		}
	}
	.top-padding {
	  padding-top: 55px;
	}
	.huddle-bg{
		background-image: none !important;
	}
	#mobile_menu .mobile_menu_inner .menu_item.active a::after{
		top: 18px;
	}
	.ipad_p_pr_15{
		padding-right: 15px !important; 
	}
	.ipad_p_mb_5{
		margin-bottom: 3rem !important
	}
	.ipadp-height-auto{
		height: auto !important;
	}
	.ipadp-pr-3{
		padding-right: 1rem !important;
	}
	.ipadp-pl-0{
		padding-left: 0 !important;
	}
	.ipadp-mt-5{
		margin-top: 3rem !important;
	}
	.ipadp-mt-3{
		margin-top: 1rem !important;
	}
	.ipadp-mb-3{
		margin-bottom: 1rem !important;
	}
	.ipadp-mb-4{
		margin-bottom: 2rem !important;
	}
	.ipadp-mb-5{
		margin-bottom: 3rem !important;
	}
	.ipadp-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.ipadp-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.ipadp-pt-5{
		padding-top: 3rem !important;
	}
	.ipadp-pr-5{
		padding-right: 3rem !important;
	}
	.ipadp-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.ipadp-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.ipadp-pt-0{
		padding-top: 0 !important;
	}
	.ipadp-mt-0{
		margin-top: 0 !important;
	}
	.ipadp-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.ipadp-mx-w-100{
    max-width: 100%;
  }
	.modal-dialog {
	    max-width: 660px;
	    margin: 1.75rem auto;
	}
	.home-header-ni {
    top: 70px;
    right: calc(50% - 340px);
    width: 680px;
	}
	.ipad_p_hide{
		display: none !important;
	}
	.event-img{
		width: 100%;
		height: 380px;
	}
	.home-event-box{
		margin-left: 0;
		width: 100%;
	}
	.afc-logo{
		max-width: 130px;
	}
	.need-support-card-container .need-support-img{
		position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
	}
}
// above iPad in portrait
@media only screen and (max-device-width : 768px){
	.below_ipad_p_hide{
		display: none !important;
	}
}