<template>
  <div class="container position-relative z-2 mb-5 pb-5 mob-mb-0">
    <div class="row">
      <div class="loading" v-if="success == false">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Loading Newsletters...</p>
      </div>
      <newsletters-show :newsletters="newsletters" :loadmore="loadmore" @loadmore="loadMore()" v-else></newsletters-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    categories: Array,
  },
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      newsletters: [],
      limit: 12,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getNewsletters();
  },
  methods: {
    loadMore(){
      this.page++;
      this.moreNewsletters();
    },
    moreNewsletters(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/newsletters/get?limit=' + this.limit).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.newsletters.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.posts);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getNewsletters(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/newsletters/get?limit=' + this.limit).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.newsletters = response.data.data;
          this.success = true;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .loading{
    height: 987px;
    width: 100%;
    position:relative;
    .lds-roller{
      position: absolute;
      top: 50px;
      left: calc(50% - 32px);
    }
    .loading-text{
      position: absolute;
      top: calc(50px + 75px);
      left: 0;
      width: 100%;
    }
  }
</style>