<template>
  <div class="container container-wide pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="newsletters.length > 0">
      <div class="col-lg-3 col-md-6 mb-4" v-for="(newsletter, index) in newsletters">
        <a :href="newsletter.link" target="_blank">
          <div class="card newsletter-card border-0 shadow">
            <picture>
              <source :srcset="newsletter.featuredwebp" type="image/webp"/> 
              <source :srcset="newsletter.featured" :type="newsletter.mimetype"/> 
              <img :src="newsletter.featured" :type="newsletter.mimetype" :alt="newsletter.title" class="lazy w-100"/>
            </picture>            
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3">Sorry, no newsletters found</p>
        <p>Sorry, there are no newsletters available.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      newsletters: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .newsletter-card{
    p{
      &.read-more-news{
        font-size: 0.9rem;
        a{
          color: #3968bf;
        }
      }    
      &.newsletter-title{
        font-size: 1.4rem;
        line-height: 1.2;
        font-weight: 700;
      }
    }
    button{
      position: absolute;
      bottom: 1.5rem;
      left: calc(50% - 100px);
    }
    .newsletter-summary{
      min-height: 200px;
    }
  }
  @media only screen and (max-width: 767px){
    .newsletter-card{
      p{
        &.read-more-news{
          font-size: 3.5vw;
        }
        &.newsletter-title{
          font-size: 5.7vw;
        }
      }
      .newsletter-summary {
        min-height: 0px;
      }
    }
  }
</style>