<template>
  <div class="container container-wide mob-px-4">
    <div class="row" v-if="heroes.length > 0">
      <div class="col-12">
        <div class="row py-5 mob-py-3 text-center text-lg-left mob-mb-4" v-for="(hero, index) in heroes">
          <div class="col-lg-6 mob-mb-4">
            <picture>
              <source :srcset="hero.normalwebp" type="image/webp"/> 
              <source :srcset="hero.normal" :type="hero.mimetype"/> 
              <img :src="hero.normal" :type="hero.mimetype" :alt="hero.name" class="lazy w-100 shadow"/>
            </picture>
          </div>
          <div class="col-lg-6 pl-5 mob-px-3">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-middle w-100 h-100">
                <p class="mimic-h2">{{hero.name}}</p>
                <p class="text-dark mb-3">{{hero.excerpt}}...</p>
                <a :href="'/local-heroes/' + hero.id + '/'+ hero.slug" >
                  <button type="button" class="btn btn-primary">Read More</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
            <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3">Sorry no heroes found</p>
        <p>Sorry, there are no local heroes available with the name you searched, please change your search and try again.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      heroes: Array,
      loadmore: Boolean
    },
    methods: {

    }
  }
</script>
<style lang="scss">
  


  @media only screen and (max-width: 767px){

  }
</style>