<template>
	<div>
		<div id="main-menu" class="menu d-none d-lg-block top-on">
      <div class="container-fluid bg-primary px-5 py-1 d-none d-lg-block position-relative z-3">
        <div class="row">
          <div class="col-lg-10">
            <p class="mb-0 text-small">
              
              <a href="/veterans-gateway" class="text-white mr-4">Veterans' Gateway</a>
              <a href="/armed-forces-covenant" class="text-white mr-4">Armed Forces Covenant</a>
              <a href="/events" class="text-white mr-4">Events</a>
              <a href="/programmes" class="text-white mr-4">Programmes & Committees</a>
              <a href="/mental-health-and-peer-support" class="text-white mr-4">Mental Health & Peer Support</a>
              <a href="/research" class="text-white mr-4">Research</a>
            </p>
          </div>
          <div class="col-lg-2 text-right">
            <p class="text-small mb-0">
              <a href="https://www.facebook.com/NorthernIrelandVeteransSupportOffice" aria-label="Facebook" rel="noreferrer" target="_blank"><i class="fa fa-facebook text-white"></i></a>
              <a href="https://www.instagram.com/ni_veterans_support_office/" aria-label="Instagram" rel="noreferrer" target="_blank"><i class="fa fa-instagram text-white ml-4"></i></a>
              <a href="https://twitter.com/VeteransNi" aria-label="Twitter" rel="noreferrer" target="_blank" ><i class="fa fa-twitter text-white ml-4"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid px-5 mob-px-3 ipadp-px-3">
        <div class="row">
          <div class="col-lg-2 py-3 page-home-pt-0">
            <a href="/">
              <img src="/img/logos/logo-full.svg" alt="Northern Ireland Veteran's Support Office logo" class="menu_logo mt-2 h-auto" width="140" height="72"/>
            </a>
          </div>
          <div class="col-lg-10 text-right d-none d-lg-block">
            <div class="menu-links d-inline-block ">
              <a href="/"class="menu-item cursor-pointer">Home</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/about"class="menu-item cursor-pointer">About</a>
            </div>
            <div class="menu-links d-inline-block ">
              <span class="menu-item news-dropdown-hover cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}"><span class="position-relative z-2">News<i class="fa fa-angle-down"></i></span>
                <span class="news-dropdown">
                  <span class="menu-item d-block">
                    <a href="/news" class="menu-item cursor-pointer">News</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/newsletters" class="menu-item cursor-pointer">Newsletters</a>
                  </span>
                </span>
              </span>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/support-organisations"class="menu-item cursor-pointer">Support Organisations</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/local-heroes" aria-label="Teamwear Ireland" rel="noreferrer" class="menu-item cursor-pointer">Local Heroes</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/veteran-champions" class="menu-item cursor-pointer">Veterans' Champions</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:{
      pagetype: String,
      loggedin: Boolean,
    },
    mounted(){
      $(document).ready(function(){
        var inview = new Waypoint({
          element: $('#menu-trigger'),
          handler: function (direction) {
            if(direction === "down"){
              $('#main-menu').removeClass('top-on');
            }
          },offset: '1%'
        });
        var inview2 = new Waypoint({
          element: $('#menu-trigger-2'),
          handler: function (direction) {
            if(direction === "up"){
              $('#main-menu').addClass('top-on');
            }
          },offset: '1%'
        });
        // Initial state
        var scrollPos = 0;
        // adding scroll event
        window.addEventListener('scroll', function(){
          // detects new state and compares it with the new one
          if ((document.body.getBoundingClientRect()).top > scrollPos){
            $('#main-menu').addClass('on');
          }
          else{
            $('#main-menu').removeClass('on');
          }
          // saves the new position for iteration.
          scrollPos = (document.body.getBoundingClientRect()).top;
        });
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });
        $(".scroll-btn").click(function(){
          $('html,body').animate({
             scrollTop: $(".scrollTo").offset().top
          });
        });
      });
    }
  }
</script>
<style lang="scss">
$primary: #35318B; 
$primarydark: #2E2B6F;
$blue: #4D71A5;
$darkgrey: #1C2D4B;
$white: #fff;
$title: 'Titillium Web', sans-serif;
$body: 'PT Sans', sans-serif;
@mixin menuBoxShadow(){
  -webkit-box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
}
.menu-holder{
  position: relative;
  z-index: 100;
}
#menu-trigger{
  position: fixed;
  top: 200px;
  left: 0;
  width: 1px;
  height: 1px;
}
#menu-trigger-2{
  position: fixed;
  top: 100vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top{
  z-index: 250;
}
#main-menu{
  position: fixed;
  top: -200px;
  left: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  &.top-on{
    top: 0 !important;
  }
  &.on{
    top: 0;
  }
}
.menu{
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $white;
  @include menuBoxShadow();
  .menu_logo{
    width: 140px;
    margin: 5px 0;
  }
  .menu-links{
    .news-dropdown-hover{
      position: relative;
      &:before{
        content: "";
        position:absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2;
      }
      .news-dropdown{
        position: absolute;
        top: -500px;
        left: 10px;
        width: 160px;
        background-color: #ffffff;
        text-align: left;
        padding: 1rem;
        z-index: 1;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        @include menuBoxShadow();
        .menu-item{
          margin-left: 0;
          margin-bottom: 10px;
          cursor: pointer;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
        a{
          color: $darkgrey;
          cursor: pointer;
          font-family: $body;
          font-weight: 500;
          border-radius: 0;
          display: inline-block;
          margin-bottom: 0.5rem;
          &:hover{
            color: $blue;
          }
        }
      }
      &:hover{
        .news-dropdown{
          top: 117px;
        }
      }
      &.longer{
        .news-dropdown{
          width: 200px;
        }
      }
    }
    .menu-item{
      display: inline-block;
      padding-left: 2.5rem;
      cursor: pointer;
      font-family: $body;
      font-weight: 700;
      text-transform: none;
      font-size: 1.1rem;
      padding-top: 44px;
      padding-bottom: 44px;
      background-color:#fff;
      position: relative;
      z-index: 2;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      color: $primary;
      i{
        font-size: 1.2rem;
        margin-left: 10px;
        color: $darkgrey;
        &:hover{
          color: $blue;
        }
      }
      &:hover,
      &.active{
        color: $primarydark !important;
      }
    }
  }
  .menu-top-links{
    .menu-links{
      .menu-item{
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }
  &.opacity{
    opacity: 0;
  }
}
@media only screen and (max-width : 1230px){
  .menu .menu-links .menu-item{
    margin-left: 0rem;
    font-size: 1rem;
    padding-left: 2rem;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  .menu{
    .menu-links{
      .menu-item{
        margin-left: 0;
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
  #menu_btn{
    display: block;
  }
}
</style>